body {
margin: 0;
}

#menu {
    width: 98%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;
}

#list {
    width: 98%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;
}
.imgSize {
    width:100%;
}
#detail {
    background-color: white;
    padding:5px;
    font-size:12px;
}
.footer {
    margin-top: 10px;
    height:20px; 
}
.copy {
    font-size:12px;
    line-height:1.5;
    margin-left:5%;
}
.right {
    text-align:right;
}
#EventList a {
    text-decoration: none;
    color: black;
}
#EventList a:hover {
    background: #CBCBCB;
	text-decoration:underline;
    color: black;
}

table {
    width: 100%;
	border-collapse:collapse;
	border-color:rgba(204,204,204,0.2);
}
td, th {
    font-size: 13pt;
    font-weight: bold;
    border: 1px solid #333333;
    height: 40px;
}
th {
    background-color:#333333;
    color:#ffffff;
}
tr.alt td {
    color:#000000;
    background-color:#EAF2D3;
}


